.main-container {
    display: flex;
    padding: 50px;
    height: 100%;
    width: 100vw;
    justify-content: center;
    background-color: #f8f4ed;
}

.mycart-details, .myaddress-details {
    padding: 20px;
    border-radius: 30px;
}

.title {
    font-size: 20px;
}

h3 {
    color: green;
    margin-bottom: 5px;
    font-size: 16px;
}

.input-line {
    width: 450px;
    height: 30px;
    background-color: lightgrey;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    border: none;
}

.buttons {
    text-align: center;
}

.save {
    border: 1px solid black;
    margin-right: 20px;
}

.checkout {
    border: 1px solid black;
    margin-left: 20px;
}

.checkbox-label {
    margin-left: 10px;
    color: green;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.checkbox {
    margin-right: 10px;
}